*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.line {
  position: relative;
  overflow: hidden;
  display: flex;
}
.line div {
  visibility: hidden;
}

/* Fonts */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "eina01-bold";
  src: url("../fonts/eina01-bold.woff2");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "NeueHaasUnicaW1G-Light";
  src: url("../fonts/NeueHaasUnicaW1G-Light.woff2");
}
.page-content {
  --main-color: #fff;
  --secondary-color: #9b700a;
  --text-color: #333;
  --accent-color: #a1a1a1;
  --header-font: "eina01-bold";
  --text-font: "NeueHaasUnicaW1G-Light";
}
a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover {
  text-decoration: none;
  color: var(--text-color);
}

/*change color of text highlight*/
::-moz-selection {
  color: var(--main-color);
  background: var(--text-color);
}

::selection {
  color: var(--main-color);
  background: var(--text-color);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 6px;
}

/************************ Hero-Section *****************************/
#hero {
  margin-top: 10%;
}
.hero-intro {
  margin: 3%;
}
#return_link {
  margin-left: 65%;
  margin-bottom: 40%;
}
#return-link_img {
  width: 60%;
}
#return_link h6 {
  color: var(--text-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 2vh;
}
#page_logo {
  width: 10%;
  margin-bottom: 2%;
}
.hero-intro h1 {
  color: var(--text-color);
  letter-spacing: 1px;
  font-family: var(--header-font);
  font-size: 4vh;
}
.hero-intro p {
  color: var(--text-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  line-height: 1.3;
  font-size: 2.2vh;
}
.hero-intro .card {
  border: 1px solid var(--text-color);
}
.hero-intro label {
  display: block;
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 2.2vh;
  font-weight: bold;
}
input[type="password"] {
  width: 100%;
  padding: 0.7rem 0.7rem;
  border-radius: 0.5rem;
  border: 1px solid #ebeff0;
  transition: all 0.3s ease-in-out;
  background-color: #ebeff0;
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 2vh;
}
input[type="password"]:focus,
input[type="password"]:active {
  outline: none;
  border: 1px solid #333;
  transition: all 0.3s ease-in-out;
}
.hero-intro .button {
  font-size: 2.2vh;
  color: var(--main-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  background: #333;
  border-radius: 0.5rem;
  padding: 0.7rem 2rem;
}
#hero form li {
  display: none;
}
/********************** Extra small devices (portrait phones, less than 576px) ****************************/
@media (max-width: 575.98px) {
  #desktop__input {
    display: none;
  }
}
/************************ Small devices (landscape phones, 576px and up) *****************************/
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    display: none;
  }
}
/***************************** Medium devices (tablets, 768px and up) ********************************/
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    display: none;
  }
}
/********************************** Large devices (desktops, 992px and up) *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    display: none;
  }
}
/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1200px) {
  /****** Hero-Section ******/
  #hero {
    margin-top: 2%;
  }
  .hero-intro {
    margin: 3%;
  }
  #mobile__input {
    display: none;
  }
  #return_link {
    margin-left: 85%;
    margin-bottom: 5%;
  }
  #return-link_img {
    width: 30%;
  }
  #return_link h6 {
    font-size: 1.8vh;
  }
  #page_logo {
    width: 10%;
    margin-bottom: 2%;
  }
  .hero-intro h1 {
    font-size: 4vh;
  }
  .hero-intro p {
    font-size: 2.3vh;
  }
  .hero-intro label {
    font-size: 2.2vh;
    font-weight: 300;
  }
  .hero-intro .button {
    font-size: 2.2vh;
    padding: 0.4rem 1.2rem;
  }
}

/************************ Extra large devices (extra large desktops, 1900px and up) ********************************/
@media (min-width: 2000px) {
  body {
    display: none;
  }
}
